
html {
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: Arial;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
body h1 {
  text-align: center;
  color: white; 
  font-size: 50px;
  display: absolute;
}

button { 

  background-color: black; 
  border: 2px solid white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;

 }

button:hover {
  background-color: #555555;
  color: white;
}


button.button1{
	float: left;
	margin: 20px 20px 20px 150px; 
	padding: 16px 45px;

}

button.button2{
	float: right;
	margin: 20px 150px 20px 20px;  
}


button.button3{
	margin: 20px 20px 20px 20px; 

}